{% extends "base.html.twig" %}
{% block title %} CJ - {{ current_user.name }} {% endblock %}
{% block nav_class %} hidden {% endblock %}

{% block body %}

    <div class="game">
        <div class="loading-info">
            <div class="loader">
                <div class="lds-eclipse"><div></div></div>
            </div>
            <div class="label white-text center"></div>
            <div class="progress">
                <div class="determinate"></div>
            </div>
            <div class="asset white-text center"></div>
        </div>
        <a class="home" href="/">
            <img src="/assets/images/menu/home_simple.png" alt="">
        </a>
        <div class="game-menus hidden">
            <div class="menu main">
                <div class="button clearfix" data-button="play">
                    <img src="/assets/images/menu/play_simple.png" alt="">
                    <div class="label">Play</div>
                </div>
                <div class="button clearfix" data-button="editor">
                    <img src="/assets/images/menu/editor_simple.png" alt="">
                    <div class="label"><a href="/editor">Map Editor</a></div>
                </div>
                <div class="button clearfix" data-button="leaderboard">
                    <img src="/assets/images/menu/leaderboard_simple.png" alt="">
                    <div class="label">Leaderboard</div>
                </div>
                <div class="button clearfix" data-button="how2play">
                    <img src="/assets/images/menu/how2play_simple.png" alt="">
                    <div class="label">How to play?</div>
                </div>
                <div class="button clearfix" data-button="settings">
                    <img src="/assets/images/menu/settings_simple.png" alt="">
                    <div class="label">Settings</div>
                </div>
            </div>
            <div class="menu map-selection hidden">
                <div class="title">
                    <img class="back" src="/assets/images/menu/back.png" alt="">
                    Map selection
                </div>
                <div class="selection">
                    Selected: <span class="map" data-selected="">none</span>
                </div>
                <div class="list">
                    {% for map in maps %}
                        <div class="item map row" data-id="{{ map.id }}" data-name="{{ map.name }}">
                            <div class="col s12 header">
                                <div class="ribbon {{ map.authorName == "Circle Jump" ? "original" : "custom" }}">
                                    {{ map.authorName == "Circle Jump" ? "Original" : "Custom" }}
                                </div>
                                <div class="name diff-{{ map.difficulty }}">{{ map.name }}</div>
                            </div>
                            <div class="col s12 infos">
                                <div class="row">
                                    <div class="col s3">
                                        <div class="difficulty-rating valign-wrapper">
                                            <img class="tooltipped" data-position="top" data-tooltip="{{ map.difficulty }}-Star difficulty" src="/assets/images/menu/{{ map.difficulty }}.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="author">Author: {{ map.authorName }}</div>
                                    </div>
                                    <div class="col s5">
                                        <div class="played">{{ map.play_amount }} plays overall</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="notice invisible">
                    Please select a map.
                </div>
                <div class="confirm">
                    <img src="/assets/images/menu/confirm.png" alt="">
                    <span class="confirm-text">Play</span>
                </div>
            </div>
            <div class="menu leaderboard hidden">
                <div class="title">
                    <img class="back" src="/assets/images/menu/back.png" alt="">
                    Leaderboard
                </div>
                <div class="body clearfix">
                    <div class="maps">
                        <div class="subtitle">Maps</div>
                        <div class="list">
                            {% for map in maps %}
                                <div class="item map tooltipped" data-id="{{ map.id }}" data-name="{{ map.name }}" data-position="top" data-tooltip="created by {{ map.authorName }}">
                                    <div class="name">{{ map.name }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="map-leaderboard">
                        <div class="loader hidden">
                            <div class="lds-eclipse"><div></div></div>
                        </div>
                        <div class="no-selection">
                            Pick a map to see rankings.
                        </div>
                        <div class="subtitle hidden">
                            Scores for <span class="map"></span>
                        </div>
                        <div class="trophies hidden clearfix">
                            <div class="first clearfix">
                                <img class="flare" src="/assets/images/menu/rank1flare2.png" alt="">
                                <img class="trophy" src="/assets/images/menu/trophy_gold.png" alt="">
                                <div class="player"></div>
                            </div>
                            <div class="second">
                                <img class="trophy" src="/assets/images/menu/trophy_silver.png" alt="">
                                <div class="player"></div>
                            </div>
                            <div class="third">
                                <img class="trophy" src="/assets/images/menu/trophy_bronze.png" alt="">
                                <div class="player"></div>
                            </div>
                        </div>
                        <div class="rankings hidden">
                            <div class="header clearfix">
                                <div class="rank">Rank</div>
                                <div class="name">Name</div>
                                <div class="time">Time</div>
                            </div>
                            <div class="body">
                                <div class="score clearfix">
                                    <div class="rank">1</div>
                                    <div class="name">name1</div>
                                    <div class="time">02:25.241</div>
                                </div>

                            </div>

                        </div> <!-- rankings -->

                    </div> <!-- map-leaderboard -->

                </div> <!-- leaderboard menu body -->

            </div> <!-- leaderboard menu -->
            <div class="menu map-complete ">
                <div class="submit-score">
                    <div class="title">Submitting time...</div>
                    <div class="subtitle">Please wait one moment.</div>
                    <div class="loader">
                        <div class="lds-eclipse"><div></div></div>
                    </div>
                </div>
                <div class="statistics">
                    <div class="header">
                        <div class="title">Good job!</div>
                        <div class="subtitle">You finished <span class="map">-</span></div>
                        <div class="subtitle">
                            Your time: <span class="time">-</span>
                            <span class="time-rating">-</span>
                        </div>
                    </div>
                    <div class="body">
                        <div class="rankings">
                            <div class="header clearfix">
                                <div class="rank">Rank</div>
                                <div class="name">Name</div>
                                <div class="time">Time</div>
                            </div>
                            <div class="body">
                                {#<div class="score clearfix">
                                    <div class="rank">1</div>
                                    <div class="name">cat225</div>
                                    <div class="time">02:05.266</div>
                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div class="controls clearfix">
                        <div class="button retry">
                            <div class="label">Retry</div>
                        </div>
                        <div class="button next-map">
                            <div class="label">Next map</div>
                        </div>
                        <div class="button quit">
                            <div class="label">Main Menu</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="menu how2play hidden">
                <div class="title">
                    <img class="back" src="/assets/images/menu/back.png" alt="">
                    How to play
                </div>
                <div class="explanations">
                    <div class="chapter goal">
                        <div class="s12 col center header">
                            <span class="blue-text text-lighten-1">Goal</span>
                        </div>
                        <div class="body">
                            <div class="col s12 center">
                                The goal of this game is to <span class="blue-text text-lighten-1">finish</span> the map.
                            </div>
                            <div class="col s12 center">
                                You finish the map by
                                <span class="blue-text text-lighten-1">reaching</span>
                                the race
                                <span class="blue-text text-lighten-1">flag</span>.
                            </div>
                            <div class="col s12 center">
                                <img class="flag" src="/assets/images/tiles/finish_flag.png" alt="">
                            </div>
                            <div class="col s12 center">
                                Some maps will have multiple levels.
                            </div>
                            <div class="col s12 center">
                                Reaching the flag will
                                <span class="blue-text text-lighten-1">teleport</span>
                                you to the
                                <span class="blue-text text-lighten-1">next level.</span>

                            </div>
                            <div class="col s12 center">
                                Complete
                                <span class="blue-text text-lighten-1">all  levels</span>
                                in order to
                                <span class="blue-text text-lighten-1">finish the map.</span>

                            </div>
                        </div>
                    </div>
                    <div class="chapter bounces">
                        <div class="col s12 center header">
                            <span class="orange-text">Circles</span>
                        </div>
                        <div class="body">
                            <div class="col s12 center">
                                <img class="circle" src="/assets/images/circlejump.png" alt="">
                            </div>
                            <div class="col s12 center">
                                Try to figure out what the <span class="orange-text">orange circles</span> do.
                            </div>
                            <div class="col s12 center">
                                Use them <span class="orange-text">effectively</span> in order to <span class="orange-text">finish</span> the map.
                            </div>
                            <div class="col s12 center pink-text hint">
                                Hint: There's more to them than it seems.
                            </div>
                        </div>
                    </div>
                    <div class="chapter controls">
                        <div class="col s12 center header">
                            <span class="green-text">Controls</span>
                        </div>
                        <div class="body">
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>Button</th>
                                        <th>Effect</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><button class="btn">A</button></td>
                                        <td>Moves your character left.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn">D</button></td>
                                        <td>Moves your character right.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn">Space</button></td>
                                        <td>Jump</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn"><i class="material-icons">keyboard_arrow_left</i></button></td>
                                        <td>Change physics mode to 1.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn"><i class="material-icons">keyboard_arrow_up</i></button></td>
                                        <td>Change physics mode to 2.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn"><i class="material-icons">keyboard_arrow_right</i></button></td>
                                        <td>Change physics mode to 3.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn"><i class="material-icons">keyboard_arrow_down</i></button></td>
                                        <td>Retry the current map.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn">V</button></td>
                                        <td>Saves your current position.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn">F</button></td>
                                        <td>Loads your last saved position.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn">1</button></td>
                                        <td>Activate/deactivate fullscreen.</td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn">TAB</button></td>
                                        <td>Changes back to main menu (running game).</td>
                                    </tr>
                                </tbody>
                            </table>
                         {#   <div class="col s12 center">
                                Move your character with <span class="green-text">A</span> & <span class="green-text">D</span>.
                            </div>
                            <div class="col s12 center">
                                Jump with <span class="green-text">SPACE</span>.
                            </div>
                            <div class="col s12 center">
                                <img class="arrows" src="/assets/images/arrowKeys.png" alt="">
                            </div>
                            <div class="col s12 center">
                                Use the <span class="green-text">LEFT</span>, <span class="green-text">UP</span> and <span class="green-text">RIGHT</span> arrow to change your physics mode.
                            </div>
                            <div class="class col s12 center">
                                Retry the entire map with the <span class="green-text">DOWN</span> arrow.
                            </div>
                            <div class="col s12 center">
                                Save your position with <span class="green-text">V</span>.
                            </div>
                            <div class="col s12 center">
                                Load your position with <span class="green-text">F</span>.
                            </div>
                            <div class="col s12 center">
                                Toggle <span class="green-text">fullscreen mode</span> with the <span class="green-text">1</span> key.
                            </div>
                            <div class="col s12 center">
                                 While playing switch to the <span class="green-text">main menu</span> with <span class="green-text">TAB</span>.
                            </div>#}
                        </div>
                    </div>

                    <div class="chapter hints">
                        <div class="col s12 center header">
                            <span class="deep-purple-text text-accent-2">Hints</span>
                        </div>
                        <div class="body">
                            <div class="col s12 center">
                                It is up to you to  <span class="deep-purple-text text-accent-2">effectively utilize</span> the controls.
                            </div>
                            <div class="col s12 center">
                                By doing so, you will finish any map.
                            </div>
                            <div class="col s12 center">
                                Try to think outside the box and  <span class="deep-purple-text text-accent-2">deviate</span> from the obvious routes.
                            </div>
                        </div>
                    </div>
                    <div class="chapter maps">
                        <div class="col s12 center header">
                            <span class="teal-text text-accent-3">Maps</span>
                        </div>
                        <div class="body">
                            <div class="col s12 center">
                                There's a
                                <span class="teal-text text-accent-3">broad spectrum</span>
                                of
                                <span class="teal-text text-accent-3">difficulties</span>
                                for maps.
                            </div>
                            <div class="col s12 center">
                                Start with easier maps and slowly work your way up.
                            </div>
                            <div class="col s12 center">
                                If you
                                <span class="teal-text text-accent-3">finish</span>
                                a map,
                                your
                                <span class="teal-text text-accent-3">time</span>
                                will be
                                <span class="teal-text text-accent-3">added</span>
                                to the
                                <span class="teal-text text-accent-3">leaderboard.</span>
                            </div>
                            <div class="col s12 center">
                                Each map has its own leaderboard.
                            </div>
                            <div class="col s12 center">
                                Visit the leaderboard to see how close you are to rank 1.
                            </div>
                            <div class="col s12 center">
                                You can find the leaderboard in the main menu.
                            </div>
                            <div class="col s12 center">
                                At last, <span class="teal-text text-accent-3">have fun!</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="menu settings hidden">
                <div class="title">
                    <img class="back" src="/assets/images/menu/back.png" alt="">
                    Settings
                </div>
                <div class="body">
                    <div class="sound clearfix">
                        <div class="label">Volume: </div>
                        <div class="volume-slider">
                            <input type="range" min="0" max="100" value="5">
                        </div>
                    </div>
                    <div class="perspective clearfix">
                        <div class="label">Camera: </div>
                        <div class="options">
                            <label>
                                <input name="perspective" type="radio" value="default" checked />
                                <span>Default</span>
                            </label>
                            <label>
                                <input name="perspective" type="radio" value="middle" />
                                <span>Middle</span>
                            </label>
                            <label>
                                <input name="perspective" type="radio" value="close" />
                                <span>Close</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- game menus -->
        <canvas id="canvas" class="hidden" width="1920" height="1080">
            <div class="canvas-no-support">
                <p>It seems like your browser does not support the canvas element.</p>
                <p>A newer browser is needed to correctly display this content.</p>
                <p>Consider downloading the latest Firefox or Chrome.</p>
                <ul>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            Get Firefox Quantum here
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/chrome/">
                            Get Google Chrome here
                        </a>
                    </li>
                </ul>
            </div>
        </canvas>
    </div>

    <audio class="menu" loop>
        <source src="/assets/music/menu/Hotel.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>


    <audio class="vega">
        <source src="/assets/music/game/vega.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>


    <audio class="blackdiamond">
        <source src="/assets/music/game/blackdiamond.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>


    <audio class="aludra">
        <source src="/assets/music/game/aludra.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>

    <audio class="sphinx">
        <source src="/assets/music/game/sphinx.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>

    <audio class="djin">
        <source src="/assets/music/game/djin.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/assets/js/UI.js"></script>
    <script src="/assets/js/Camera.js"></script>
    <script src="/assets/js/Tile.js"></script>
    <script src="/assets/js/Player.js"></script>
    <script src="/assets/js/Map.js"></script>
    <script src="/assets/js/Game.js"></script>
    <script src="/assets/js/App.js"></script>
{% endblock %}